<form action="/result" method="post">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<p>
Name: 
<input type="text" name="result[name]">
</p>
<p>
Location: 
<select name="result[location]">
<option>DC</option>
<option>SF</option>
<option>Seattle</option>
</select>
</p>
<p>
Language: 
<select name="result[language]">
<option>JavaScript</option>
<option>Ruby</option>
<option>Python</option>
</select>
</p>
<p>
Comment: 
<textarea name="result[comment]"></textarea>
</p>
<p>
<input type="submit" value="Submit!">
</p>
</form>