<h3>Random Word (attempt #<%= @count %>)</h3>
<h1><%= @word %> </h1>
<form action="/gen" method="get">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<input type="submit" value="jammin">
</form>