<p>First name: <%= @user.first_name %></p>
<p>Last name: <%= @user.last_name %></p>
<p>Email: <%= @user.email_address %></p>
<a href="/users/#{@user.id}/edit"><button>Edit</button></a>
<a href="/users"><button>Back</button></a>