<h1>Your gold: <%= @gold %></h1>
<form action="/rpg/farm">
Farm: <input type="submit" value="Find gold!">
</form>
<form action="/rpg/cave">
Cave: <input type="submit" value="Find gold!">
</form>
<form action="/rpg/house">
House: <input type="submit" value="Find gold!">
</form>
<form action="/rpg/casino">
Casino: <input type="submit" value="Find gold!">
</form>
<% session[:inputs].each do |p| %>
<p><%= p %></p>
<% end %>